<head>
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
</head>
<div style="text-align:center">
    <h1>{{title}}</h1>
    <p>
      A Dungeons and Dragons character backstory generator using rules from Xanathar's Guide to Everything 5e. Currently a WIP.
    </p>
    <p>
       See the code on <a href="https://github.com/JennaBarbara/This-Is-Your-Life">GitHub</a>.
    </p>

    <nav>
        <a value="Refresh Page" onClick="window.location.reload()">Generate a New Background</a>
    </nav>

</div>
<app-origins></app-origins>
