

nav a {
  cursor: pointer;
  padding: 5px 10px;
  text-decoration: none;
  font-weight: bold;
  margin: 25px 50px;
  display: inline-block;
  background-color: #f6f6ef;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  border-radius: 4px;
  text-align: center;
  color: #000000;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}
