<head>
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
</head>
<div style="text-align:center">
    <h1>{{title}}</h1>
    <p>
     This is a Dungeons and Dragons character backstory generator using rules from Xanathar's Guide to Everything 5e.
      <br/>
      Click here to see the code on <a href="https://github.com/JennaBarbara/This-Is-Your-Life">GitHub</a>.
    </p>
    <nav>
        <a value="Refresh Page" onClick="window.location.reload()">Generate a New Background</a>
    </nav>

</div>
<app-basics></app-basics>
