.origins {
  background-color: #f6f6ef;
  margin: .5em;
  padding: .3em 0;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  border-radius: 10px;

}
@media screen and (max-width: 480px)  {


.origins {
    resize: horizontal;

}

}
.origins .text {
  background-color: #f6f6ef;
  margin: 25px 25px 25px 25px;
  padding: .3em 0;
}

.text {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-family: 'Slabo 27px', serif;
margin: 25px 25px 25px 25px;
}
