<div class=origins>
  <h2>
  Origins
  </h2>
  <p>
    Class: {{myBasics.Class}} - Race: {{myBasics.Race}} - Alignment:  {{myOrigin.Alignment}}

    <br /><br />
    Occupation: {{myOrigin.Occupation}}
    <br /><br />
    Parents: {{myOrigin.ParentsKnown}}
      <br /><br />
    Birthplace: {{myOrigin.Birthplace}}
    <br /><br />
    Siblings: {{myOrigin.NumberofSiblings}}
    <br /><br />
    Raised by: {{myOrigin.Family}}
    <br /><br />
    Family Lifestyle: {{myOrigin.FamilyWealth[0]}}
    <br /><br />
    Childhood home: {{myOrigin.FamilyWealth[1]}}
    <br /><br />
    Childhood memories: {{myOrigin.ChildhoodMemory}}
  </p>
</div>
