<div class=origins>
  <h2>
  Origins
  </h2>

  <div class=text>
    Parents: {{myOrigin.ParentsKnown}}
      <br /><br />
    Mother: <b>Occupation:</b> {{myOrigin.Mother.Occupation}} | <b>Status:</b> {{myOrigin.Mother.Status}} | <b>Alignment:</b> {{myOrigin.Mother.Alignment}}
    <br /><br />
    Father: <b>Occupation:</b> {{myOrigin.Father.Occupation}} | <b>Status:</b> {{myOrigin.Father.Status}} | <b>Alignment:</b> {{myOrigin.Father.Alignment}}
    <br /><br />
    <div *ngIf="myOrigin.Heritage">
    Heritage: {{myOrigin.Heritage}}
    <br /><br />
  </div>
    Birthplace: {{myOrigin.Birthplace}}
    <br /><br />
    <div *ngIf="myOrigin.Siblings.length == 0">Siblings: You have no siblings</div>
    <div *ngIf="myOrigin.Siblings.length == 1">Siblings: You have One sibling with the following traits
    <li *ngFor="let sibling of myOrigin.Siblings">
    <b>Age:</b> {{sibling.BirthOrder}} than me | <b>Relationship:</b> {{sibling.Relationship}} to me | <b>Occupation:</b> {{sibling.Occupation}} | <b>Status:</b> {{sibling.Status}} | <b>Alignment:</b> {{sibling.Alignment}}
    </li>
    </div>
    <div *ngIf="myOrigin.Siblings.length > 1">Siblings: You have {{myOrigin.Siblings.length}} siblings with the following traits
    <li *ngFor="let sibling of myOrigin.Siblings">
    <b>Age:</b> {{sibling.BirthOrder}} than me | <b>Relationship:</b> {{sibling.Relationship}} to me | <b>Occupation:</b> {{sibling.Occupation}} | <b>Status:</b> {{sibling.Status}} | <b>Alignment:</b> {{sibling.Alignment}}
    </div>
    <br />
    Raised by: {{myOrigin.Family}}
    <br /><br />
    Family Lifestyle: {{myOrigin.FamilyWealth[0]}}
    <br /><br />
    Childhood home: {{myOrigin.FamilyWealth[1]}}
    <br /><br />
    Childhood memories: {{myOrigin.ChildhoodMemory}}
  </div>
</div>
