<div class=origins>
  <h2>
  Origins
  </h2>

  <div class=text>
    Class: {{myBasics.Class}} - Race: {{myBasics.Race}} - Alignment:  {{myOrigin.Alignment}}

    <br /><br />
    Occupation: {{myOrigin.Occupation}}
    <br /><br />
    Parents: {{myOrigin.ParentsKnown}}
      <br /><br />
    Birthplace: {{myOrigin.Birthplace}}
    <br /><br />
    <div *ngIf="myOrigin.Siblings.length == 0">Siblings: No siblings</div>
    <div *ngIf="myOrigin.Siblings.length > 0">
      Siblings:
    <li *ngFor="let sibling of myOrigin.Siblings">
    {{sibling.BirthOrder}} - {{sibling.Alignment}} - {{sibling.Occupation}} - {{sibling.Status}} - {{sibling.Relationship}} to me
   </li>
    </div>
    <br />
    Raised by: {{myOrigin.Family}}
    <br /><br />
    Family Lifestyle: {{myOrigin.FamilyWealth[0]}}
    <br /><br />
    Childhood home: {{myOrigin.FamilyWealth[1]}}
    <br /><br />
    Childhood memories: {{myOrigin.ChildhoodMemory}}
  </div>
</div>
